/* ------universal setting ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the container that will hold the whole calculator  */
.calcContainer {
  background-color: lightgray;
  margin: 50px auto;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 5%;
}

/* the output / display container  */
.output {
  background-color: lightgoldenrodyellow;
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: px;
  border-radius: 5%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

span {
  align-self: flex-end;
  padding: 10px;
  font-size: 20px;
}

/* calc button container */
.button-holder {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2px;
}

button {
  width: 65px;
  height: 55px;
  border-radius: 20%;
}
